# Ignore whatever the hell this is
*.DS_Store

# Ignore npm modules downloaded locally
*/node_modules

# Ignore tern proj files (for atom)
*.tern-project

# Ignore mongo files
*/plainPalApp-services/mongo_data/*

# Ignore NPM Debug
*npm_debug.log
